/* Custom styles */
/*
DePaul IHS
*/

@font-face {
    font-family: 'GibsonSemiBold';
    src: url('/css/fonts/gibson-semibold-webfont.eot');
    src: url('/css/fonts/gibson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/gibson-semibold-webfont.woff') format('woff'),
         url('/css/fonts/gibson-semibold-webfont.ttf') format('truetype'),
         url('/css/fonts/gibson-semibold-webfont.svg#GibsonSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GibsonBold';
    src: url('/css/fonts/gibson-bold-webfont.eot');
    src: url('/css/fonts/gibson-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/gibson-bold-webfont.woff') format('woff'),
         url('/css/fonts/gibson-bold-webfont.ttf') format('truetype'),
         url('/css/fonts/gibson-bold-webfont.svg#GibsonBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('/css/fonts/ColabThi-webfont.eot');
    src: url('/css/fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/ColabThi-webfont.woff') format('woff'),
         url('/css/fonts/ColabThi-webfont.ttf') format('truetype'),
         url('/css/fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ColaborateRegRegular';
    src: url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.eot');
    src: url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.woff') format('woff'),
         url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.ttf') format('truetype'),
         url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.svg#ColaborateRegRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'AlegreyaBold';
    src: url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.eot');
    src: url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.woff') format('woff'),
         url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.ttf') format('truetype'),
         url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.svg#AlegreyaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

    
body { 
  font: 15px/1.3em "Noto Sans JP", sans-serif; /* prima 18px */
}

h1 {
  font: 26px/1em 'GibsonBold', serif; /* prima 32px */
  text-transform: uppercase;
  color: #827E7E;
}

h2 {
  font: 18px/1em 'GibsonBold', serif; /* prima 22px */
  text-transform: uppercase;
  color: #827E7E;
}

.info {
  padding: 6px 8px;
  font: 12px/14px Arial, Helvetica, sans-serif; /* prima 14px */
}

.legend {
  text-align: left;
  line-height: 14px; /* prima 18px */
  color: #555;
}

.legend i {
  width: 14px;   /* prima 18px */
  height: 14px;  /* prima 18px */
  float: left;
  margin-right: 6px;
  opacity: 0.7;
}
